@font-face {
    font-family: 'Bangers';
    src: url('fonts/bangers-regular.woff2') format('woff2'),
    url('fonts/bangers-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    padding: 20px;
    border: 3px solid #ff8300;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

body {
    background-image: url("img/61760915905c8514e83d260a_GameMixTreize.jpg");
    background-size: cover;       /* L'image couvre tout l'écran */
    background-position: center;  /* Centré */
    background-repeat: no-repeat; /* Pas de répétition */
    background-attachment: fixed; /* L'image reste fixe quand on scroll */
    margin: 0;                    /* Supprime les marges par défaut */
    padding: 0;
    font-family: 'Bangers', Caveat, cursive;
}

p {
    font-size: 28px;
    font-family: 'Bangers', Caveat;
    color: #fff;
    text-align: justify;
}

/* Lien normal (jamais visité) */
a:link {
    color: darkorchid;
    text-decoration: underline;
    font-size: 25px;
}

/* Lien déjà visité */
a:visited {
    color: #b22222;
}

/* Quand on survole le lien */
a:hover {
    color: rgb(89, 167, 0);
    text-decoration: underline;
}

/* Quand on clique (optionnel mais recommandé) */
a:active {
    color: aqua;
}

.pelien {
    width: 800px;
    height: auto; /* garde les proportions */
    margin: 0 auto; /* centrer horizontalement si nécessaire */
    border: 2px solid white;
    box-shadow: 0 0 15px black;
}

.josiane {
    font-size: 7em;
    text-align: left;
    color: #ff8300;
    position: relative; /* pour que le texte reste au-dessus du fond */
}

h2 {
    font-size: 2rem;
    text-align: center;
    color: #ffff00;
    position: relative;
}

footer {
    margin: 20px;
}

.page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}